    /* shared styles */


body{
    max-width: 1440px;
    margin: 0 auto;
}
    

.btn-primary{
    border: none;
    background-color: rgb(255, 0, 85);
    color: white;
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
}
  
   
   /* navbar styles  */
 
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;
}
   
.logo{
    display: flex;
    align-items: center;
  }
   
.logo-img{
    margin-right: 15px;
}
   
.school{
    font-size: 32px;
    font-weight: 700;
    color: black;
}

   
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
   
.nav-links a{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}


  /* menu color styles */
 
  .home{
    color: rgba(0, 183, 255, 0.925);
}
.about{
    color: violet
}
.facilities{
    color: brown;
}
.admission{
    color: tomato;
}
   
 
   
  /* three-line menu styles */
   
.line{
    width: 25px;
    height: 3px;
    background-color: #333232;
    margin-top: 4px;
   
}
 
.three-line-menu{
    display: none;
     
}

/* marquee stylees */


.discount{
    font-size: 2rem;
    font-weight: 700;
    color: chocolate;
  }

  
  /* hero section */
 
  .hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-title{
    margin-bottom: 10px;
    font-size: 3.6rem;
    font-weight: 700;
 
}

.empowering{
    color: #FEA301
}

.vision{
    color: #01ACFD
}

.hero-description{
    font-size: 1.25rem;
    font-weight: 400;
}


.hero-content {
    max-width: 640px;
}


.section-image{
    max-width: 468px;
}

  /* Standard Curriculum */


  .curriculum{
    margin-top: 0px;    
    background:
    linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(254, 163, 1, 1)),
    url('/assets/bg.png');
    background-size: cover;
    background-position: top;
    background-blend-mode: overlay;    
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.container-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
   
}


.card1{
    background: linear-gradient(to bottom, #de6262, #ffb88c);  
    border-radius: 10px;
    align-items: center;
    padding: 30px;
    width: 376px;
   
}


.card2{
   background: linear-gradient(to bottom, #56ab2f, #a8e063);  
   border-radius: 10px;
   text-align: center;
   padding: 30px;
   width: 376px;


}


.card3{
  background: linear-gradient(to bottom, #eecda3, #ef629f);  
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  width: 376px;


}


.card h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}


.cards p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: rgb(27, 10, 10);
}


.cards a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
